.container{
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    margin-top: 300px;
    border: 2px solid red;
    margin-right: 800px;
    background-color: aqua;
}
button{
    width:"20px";
    height:"40px";
    border-radius: 100%;
    padding: 15px;
    margin-left: 1px;
    border:2px solid red;
}
input{
    border: 2px solid red;
    height: 40px;
}
.calc{
    padding: 30px;
}
.first{
    display:flex;
    justify-content: center;
}